html{
    background-color: #5c5c5c;
    padding: 20px;
}

body{
    width: 500px;
    margin: auto;
    color: #080808;
    font-family: arial;
    border: 1px gray;
    background-color: #f5f5f5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12pt;
}

h1{
    display: block;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: url(/static/logo.png) top left no-repeat #dedede;
    margin: 0px;
    border-bottom: 1px gray solid;
    padding: 10px 5px 0 60px;
    color: #454545;
    vertical-align: middle;
}

h2{
    margin-left: 5px;
    font-size: 20px;
}

h3{
    margin-left: 5px;
    font-size: 16px;
}

#to_string > code {
    display: block;
    font-size: 12px;
    margin: 10px;
    border: 1px gray solid;
    background-color: #fafafa
}

#conflicts > code {
    display: block;
    font-size: 12px;
    margin: 10px;
    border: 1px gray solid;
    background-color: #f0a8a8
}

#not_founds > code {
    display: block;
    font-size: 12px;
    margin: 10px;
    border: 1px gray solid;
    background-color: #f0a8a8
}

p{
    padding: 0 10px 0 10px;
}

label{
    font-size: 9pt;
}

label{
    display: block;
    width: 100%;
}

form {
    margin-left:15px;
}

textarea {width:470px; resize: vertical;}

strong {margin-left:15px; display:block;}
