<html>
    <div id="err_msg"> {{ err_msg }} </div>
    <div id="search_box">
        <form action="search" method="get">
            <input type="text" name="query" />
            <input type="submit" />
        </form>
    </div>
    <div id="results">
        {% for r in results %}
            <div class="result">
                <ul>
                    {% for k,v in r.iteritems() %}
                    <li>{{k}} : {{v}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
</html>
