html{
    background-color: #5c5c5c;
    padding: 20px;
}

body{
    width: 500px;
    margin: auto;
    padding: 0 0 5px 0;
    color: #080808;
    font-family: arial;
    border: 1px gray;
    background-color: #f5f5f5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12pt;
}

h1{
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: url(logo.png) top left no-repeat #dedede;
    margin: 0px;
    border-bottom: 1px gray solid;
    padding: 10px 5px 0 50px;
    color: #454545;
    vertical-align: middle;
}

h2{
    padding: 0 10px 0 10px;
    font-size: 20px;
}


p{
    padding: 0 10px 0 10px;
}

label{
    font-size: 9pt;
}

label{
    display: block;
    width: 100%;
}

textarea {width:470px; margin-left:15px; resize: vertical;}

strong {margin-left:15px; display:block;}